### 1. Data Cleaning: Handling Missing Values
Exercise:
You are given a dataset with missing values. Write a program to:

Drop rows where more than one column has a missing value.
Fill remaining missing values with the mean of their respective columns.

In [ ]:
# Sample DataFrame
data = {
    "Employee": ["Alice", "Bob", "Charlie", "David", "Emma"],
    "Age": [25, 40, 30, 28, 22],
    "Salary": [45000, 65000, 48000, 72000, 51000]
}

df = pd.DataFrame(data)

# Implement your solution

### 2. Filtering and Conditional Selection
Exercise:
Given a DataFrame of employees' salaries, filter and display:

Employees who earn more than $50,000
Employees under 30 years old who earn more than $40,000.
python
Copy
Edit
import pandas as pd

In [ ]:
import pandas as pd
import numpy as np

# Sample data
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Emma"],
    "Age": [25, np.nan, 30, 28, np.nan],
    "Salary": [50000, 60000, np.nan, 70000, 80000]
}

df = pd.DataFrame(data)

# Implement your solution

### 3. Grouping & Aggregation
Exercise:
Given a DataFrame of sales transactions, calculate:

The total sales (Price * Quantity) for each Category
The average quantity sold per category.

In [ ]:

# Sample DataFrame
data = {
    "Product": ["Laptop", "Mouse", "Keyboard", "Monitor", "Headphones"],
    "Category": ["Electronics", "Accessories", "Accessories", "Electronics", "Accessories"],
    "Price": [1000, 50, 80, 300, 100],
    "Quantity": [3, 10, 5, 2, 8]
}

df = pd.DataFrame(data)

# Implement your solution

### 4. Merging & Joining Data
Exercise:
You have two datasets: Employee Details and Employee Departments. Merge them into a single DataFrame on "Employee_ID", keeping all employees from the first dataset.

In [ ]:

import pandas as pd

# Employee Details
employees = pd.DataFrame({
    "Employee_ID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "David", "Emma"],
    "Salary": [60000, 70000, 65000, 72000, 50000]
})

# Employee Departments
departments = pd.DataFrame({
    "Employee_ID": [101, 102, 104, 105],
    "Department": ["HR", "Finance", "IT", "Marketing"]
})

# Implement your solution

### 5. Pivot Tables & Reshaping Data
Exercise:
Given a sales DataFrame, create a pivot table to summarize:

The total sales (Price * Quantity) per Region and Product.

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    "Region": ["North", "South", "North", "East", "West", "South"],
    "Product": ["Laptop", "Mouse", "Laptop", "Keyboard", "Monitor", "Mouse"],
    "Price": [1000, 50, 1000, 80, 300, 50],
    "Quantity": [2, 10, 1, 4, 3, 5]
}

df = pd.DataFrame(data)

# Implement your solution