In [ ]:
#Amy
#takes user input of name and age prints msg
name = input("Enter your name: ")
print("You entered: ", name)

age = input("Enter your age:")
print("You entered: ", age)

Enter your name: Bob
You entered:  Bob
Enter your age:42
You entered:  42

In [ ]:
#DJ
#Write a program that checks if a number is positive, negative, or zero.
num = int(input("Enter a number: "))
if num > 0;
    print("The number is positive")
elif num < 0:
    print("The number is negative")
else:
    print("The number is zero")

In [ ]:
#Amy
#Write a rectngle
def rectangy():

  length = input("Enter the length of the rectangle: ")
  width = input("Enter the width of the rectangle: ")

  length = float(length)
  width = float(width)

  area = length * width
  print("The area of the rectangle is: ", area)


rectangy()

Enter the length of the rectangle: 5
Enter the width of the rectangle: 5
The area of the rectangle is:  25.0

In [ ]:
#DJ
#Create a dictionary to store student names and scores, then print students who scored above 80.
student_dict = {'jeff' : 95,
                'Andersun' : 20,
                'Dylun' : 79,
                'unga' : 81,}
for name, score in student_dict.items():
    if score > 80:
      print(name + ' didnt fail the assignment')
    if score < 80:
      print(name + "<--- gettaload of this guy")

jeff didnt fail the assignment
Andersun<--- gettaload of this guy
Dylun<--- gettaload of this guy
unga didnt fail the assignment

In [ ]:
#Amy
#file handeling
lines = ['Billy Bob\n', 'Gang Green Gang\n', 'Ooonga Boonga\n']
with open('shrek.txt', 'w') as file:
  file.writelines(lines)

file = open('shrek.txt', 'r')
print(file.read())
file.close()

Billy Bob
Gang Green Gang
Ooonga Boonga

In [ ]:
#DJ
#Object-Oriented Programming
class Car:
    def __init__(self, brand, year):
        self.brand = brand
        self.year = year

    def CarCaller3000(self):
        print("hocus pocus your car is now the focus")
        print(self.brand)
        print(self.year)


my_car = Car("Toyota", 2017) #hey thats my car
my_car.CarCaller3000()

In [ ]:
#Amy
#zero div
try:
  x = int(input("TYPE ZERO HERE: "))
  y = 10 / x
  print(y)

except ZeroDivisionError:
  print("NO!!!!!!!")

TYPE ZERO HERE: 0
NO!!!!!!!

In [ ]:
#DJ
#Modules and Packages
import math
import random

magicnumber = random.randint(1, 20000)

sqrtmn = math.sqrt(magicnumber)

print("In the grim darkness of the far future there is only squareroots:", magicnumber, sqrtmn)

In the grim darkness of the far future there is only squareroots: 12447 111.56612389072231

In [ ]:
#Amy
def square():
    num_list = []

    n = int(input("How big of a list do you want: "))

    for i in range(n):
        element = int(input("Enter a number: "))
        num_list.append(element)

    print("List before squaring:", num_list)

    final_list = [num ** 2 for num in num_list]

    print("List after squaring:", final_list)

square()

How big of a list do you want: 2
Enter a number: 3
Enter a number: 5
List before squaring: [3, 5]
List after squaring: [9, 25]

In [ ]:
#DJ
#Functional Formatting
numbers = [2, 3, 4, 5, 13]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

[4, 9, 16, 25, 169]

In [ ]:
#DJ
#Decorators and Closures
def annnounce_thine_EXECUTION(func):
      def wrapper(*args, **kwargs):
        print("Function executed!")
        return func(*args, **kwargs)
      return wrapper
def Executonee(name):
    print(f"Hello, {name}! Goodbye!")

Executonee("me")

Hello, me! Goodbye!

In [ ]:
#Amy
#random number

import random
num = random.randint(1, 10)
print(num)

1

In [ ]:
#Amy
#Phone number format

import re

phone_number = input("Enter your phone number: ")

x = re.search("^...-...-....$", phone_number)

if x:
  print("Prepare for spam you imbecile!", x.group())
else:
  print("Why did you give me a fake number.")

Enter your phone number: 555678-6667
Why did you give me a fake number.

In [ ]:
#DJ
#Data Science & Machine Learning Basics:
import numpy as np
array = np.array([3, 13, 23, 33, 43, 53, 63, 73])
mean = np.mean(array)
print(mean)

38.0

EXTRA

1. Data Cleaning: Handling Missing Values
Exercise: You are given a dataset with missing values. Write a program to:

Drop rows where more than one column has a missing value. Fill remaining missing values with the mean of their respective columns.

In [ ]:
#DJ
import pandas as pd
import numpy as np

# Sample DataFrame
data = {
    "Employee": ["Alice", "Bob", "Charlie", "David", "Emma"],
    "Age": [25, 40, np.nan, 28, 22],
    "Salary": [45000, np.nan, 48000, 72000, np.nan] # modify the data sets to remove some values
}

df = pd.DataFrame(data)

# Implement your solution
df.dropna(thresh=2, inplace=True)
df.fillna(df.select_dtypes(include=[np.number]).mean(), inplace=True) # tricky thing here. It wouldnt allow me to modify non numerical values so you have to specify when filling

print(df)

  Employee    Age   Salary
0    Alice  25.00  45000.0
1      Bob  40.00  55000.0
2  Charlie  28.75  48000.0
3    David  28.00  72000.0
4     Emma  22.00  55000.0

Exercise: Given a DataFrame of employees' salaries, filter and display:

Employees who earn more than 50,000, under the age of 30 who earn more than 40,000.

In [ ]:
#DJ
import pandas as pd
import numpy as np

# Sample data
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Emma"],
    "Age": [25, np.nan, 30, 28, np.nan],
    "Salary": [50000, 60000, np.nan, 70000, 80000]
}

df = pd.DataFrame(data)

# Implement your solution
df_filtered = df[(df["Salary"] > 50000) | ((df["Age"] < 30) & (df["Salary"] > 40000))]

print(df_filtered)

    Name   Age   Salary
0  Alice  25.0  50000.0
1    Bob   NaN  60000.0
3  David  28.0  70000.0
4   Emma   NaN  80000.0

Exercise: Given a DataFrame of sales transactions, calculate:

The total sales (Price * Quantity) for each Category The average quantity sold per category.

In [ ]:
#DJ
# Sample DataFrame
data = {
    "Product": ["Laptop", "Mouse", "Keyboard", "Monitor", "Headphones"],
    "Category": ["Electronics", "Accessories", "Accessories", "Electronics", "Accessories"],
    "Price": [1000, 50, 80, 300, 100],
    "Quantity": [3, 10, 5, 2, 8]
}

df = pd.DataFrame(data)

# Implement your solution
df["Total Sales"] = df["Price"] * df["Quantity"]
total_sales_by_category = df.groupby("Category")["Total Sales"].sum()
average_quantity_by_category = df.groupby("Category")["Quantity"].mean()

print(total_sales_by_category)
print(average_quantity_by_category)

Category
Accessories    1700
Electronics    3600
Name: Total Sales, dtype: int64
Category
Accessories    7.666667
Electronics    2.500000
Name: Quantity, dtype: float64

Exercise: You have two datasets: Employee Details and Employee Departments. Merge them into a single DataFrame on "Employee_ID", keeping all employees from the first dataset.

In [ ]:
#DJ
import pandas as pd

# Employee Details
employees = pd.DataFrame({
    "Employee_ID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "David", "Emma"],
    "Salary": [60000, 70000, 65000, 72000, 50000]
})

# Employee Departments
departments = pd.DataFrame({
    "Employee_ID": [101, 102, 104, 105],
    "Department": ["HR", "Finance", "IT", "Marketing"]
})

# Implement your solution
merged_dataset = pd.merge(employees, departments, on="Employee_ID", how="left")

print(merged_dataset)

   Employee_ID     Name  Salary Department
0          101    Alice   60000         HR
1          102      Bob   70000    Finance
2          103  Charlie   65000        NaN
3          104    David   72000         IT
4          105     Emma   50000  Marketing

Exercise: Given a sales DataFrame, create a pivot table to summarize:

The total sales (Price * Quantity) per Region and Product.

In [ ]:
#DJ
import pandas as pd

# Sample DataFrame
data = {
    "Region": ["North", "South", "North", "East", "West", "South"],
    "Product": ["Laptop", "Mouse", "Laptop", "Keyboard", "Monitor", "Mouse"],
    "Price": [1000, 50, 1000, 80, 300, 50],
    "Quantity": [2, 10, 1, 4, 3, 5]
}

df = pd.DataFrame(data)

df['Total Sales'] = df['Price'] * df['Quantity']

pivot_table = df.pivot_table(values='Total Sales', index='Region', columns='Product', aggfunc='sum', fill_value=0)

print(pivot_table)

Product  Keyboard  Laptop  Monitor  Mouse
Region
East          320       0        0      0
North           0    3000        0      0
South           0       0        0    750
West            0       0      900      0